<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="view-content my-5" layout:fragment="content">
  <div class="d-flex flex-wrap gap-5">
    <div class="d-flex flex-column align-items-center me-4">
      <h3 th:text="${staff.name}">Име на вработен</h3>
      <img th:src="@{/default.png}" alt="Staff Image" style="width: 160px; height: 220px; object-fit: cover;" />
      <p class="mt-2">
        <a th:href="'mailto:' + ${staff.email}" th:text="${staff.email}"></a>
      </p>
      <div>
        <div th:if="${regularConsultations.size() > 0}">
          <strong>Редовни консултации: </strong>
          <div th:each="consultation : ${regularConsultations}" class="mt-2">
            <p>
              <span>Ден:</span> <span th:text="${consultation.getMacedonianDayOfWeek()}"></span><br />
              <span>Час:</span> <span th:text="${consultation.startTime}"></span> - <span th:text="${consultation.endTime}"></span><br />
              <span>Училница:</span>
              <span th:text="${consultation.room.name + (consultation.online != null && consultation.online ? ', Онлајн' : '')}"></span><br>
              <span th:text="${consultation.studentInstructions}"></span>
            </p>
          </div>
        </div>

        <div th:if="${irregularConsultations.size() > 0}">
          <strong>Дополнителни консултации: </strong>
          <div th:each="consultation : ${irregularConsultations}" class="mt-2">
            <p>
              <span>Ден:</span> <span th:text="${consultation.getMacedonianDayOfWeek()}"></span><br />
              <span>Час:</span> <span th:text="${consultation.startTime}"></span> - <span th:text="${consultation.endTime}"></span><br />
              <span>Училница:</span>
              <span th:text="${consultation.room.name + (consultation.online != null && consultation.online ? ', Онлајн' : '')}"></span><br>
              <span th:text="${consultation.studentInstructions}"></span>
            </p>
          </div>
        </div>
      </div>
      </div>


    <div class="flex-grow-1">
      <div th:if="${isProfessor}">
        <div class="mt-4">
          <h5 class="">Резиме:</h5>
          <p>
            <strong>Титула:</strong> <span th:text="${professor.title}">Титула</span><br />
            <strong>Академска Титула:</strong>
            <span th:if="${academicTitles != null}" th:text="${academicTitles.academicTitle}">Академска Титула</span>
            <span th:unless="${academicTitles != null}">Нема достапни информации</span><br />
          </p>
          <h5>Лични податоци:</h5>
          <ul>
            <li th:each="detail : ${professorDetails}" th:text="${detail.birthDay}"></li>
            <li th:each="detail : ${professorDetails}" th:text="${detail.currentTitle}"></li>
            <li th:each="detail : ${professorDetails}" th:text="${detail.degree}"></li>
            <li th:each="detail : ${professorDetails}" th:text="${detail.degreeTitle}"></li>
          </ul>
          <h5>Едукација:</h5>
          <ul>
            <li th:each="education : ${professorEducation}" th:text="${education.education.degree}"></li>
            <li th:each="education : ${professorEducation}" th:text="${education.education.institution}"></li>
            <li th:each="education : ${professorEducation}" th:text="${education.education.area}"></li>
            <li th:each="education : ${professorEducation}" th:text="${education.education.discipline}"></li>
            <li th:each="education : ${professorEducation}" th:text="${education.education.field}"></li>
            <li th:each="education : ${professorEducation}" th:text="${education.education.finishingYear}"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
