<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">

  </script>
  <script th:inline="javascript">
    function cleanQueryFilters() {
      window.location = "?";
    }

  </script>
</head>
<body>
<div class="view-content my-5" layout:fragment="content">
  <h3>Вработени на ФИНКИ</h3>
  <div id="filters">
    <form method="GET" th:action="@{/staff}">
      <div class="d-flex flex-wrap mb-3">
        <div class="col-md-3 col-sm-6 p-1">
          <select class="form-control custom-select" id="role" name="role">
            <option value="" th:selected="${param.role==null}">Сите</option>
            <option th:each="role : ${roleNames}" th:value="${role.key}" th:text="${role.value}"
                    th:selected="${param.role!=null && role.key.name() == param.role[0]}"></option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 p-1">
          <button class="btn btn-primary" type="submit">Пребарувај</button>
          <button class="btn btn-outline-dark" id="resetFiltersBtn" th:onclick="cleanQueryFilters()" type="reset">
            Ресетирај ги филтерите
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row row-cols-md-5 row-cols-lg-8 row-cols-sm-4 g-4">
    <div th:each="staff : ${staffPage.content}">
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <img th:src="@{/default.png}" alt="Слика на вработен" style="width: 70px; height: 100px; object-fit: cover;" />
          <h6 class="mt-2">
            <a th:href="@{/staff/details/{id}(id=${staff.id})}" class="text-decoration-none text-dark" th:text="${staff.name}">Име</a>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div th:include="fragments/paging :: pageSection(${staffPage})"></div>
  </div>

</div>
</body>
</html>
