<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Education</title>
</head>
<body>



<form method="POST"   >

    <div class="container">
        <div class="row justify-content-start">
            <label class="col-2" for="educationDegree">Образование</label>
            <select name="degree" class="col-3" id="educationDegree">
                <option
                        th:each="degree : ${educationDegrees}"
                        th:value="${degree}"
                        th:text="${degree}">
                </option>
            </select>
        </div>

        <div class="row justify-content-start">
            <label class="col-2" for="finishingYear">Година</label>
            <input class="col-3" name="finishingYear" id="finishingYear" type="number" >
        </div>

        <div class="row justify-content-start">
            <label class="col-2" for="institution">Институција</label>
            <input class="col-3" name="institution" id="institution" >
        </div>

        <div class="row justify-content-start">
            <label class="col-2" for="discipline">Подрачје</label>
            <input class="col-3" name="discipline" id="discipline" >
        </div>

        <div class="row justify-content-start">
            <label class="col-2" for="field">Поле</label>
            <input class="col-3" name="field" id="field" >
        </div>

        <div class="row justify-content-start">
            <label class="col-2" for="area">Област</label>
            <input class="col-3" name="area" id="area" >
        </div>

        <button type="submit" class="btn btn-primary " th:text="#{SUBMIT}"></button>

    </div>

</form>

</body>
</html>
