<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <title>Add Professor</title>
</head>
<body>


    <form method="POST" th:action="@{/professor/add-professor}">

        <div class="container">
            <div class="row justify-content-start">
                <label class="col-2" for="name">Име</label>
                <input class="col-3" name="name" id="name" required="required"
                th:value="${professor?.name}">
            </div>
            <div class="row justify-content-start">
                <label class="col-2" for="id">Ид</label>
                <input class="col-3" name="id" id="id" required="required"
                       th:value="${professor?.id}">
            </div>

            <div class="row justify-content-start">
                <label class="col-2" for="dateOfBirth">Датум на раѓање</label>
                <input class="col-3" type="date" id="dateOfBirth" name="dateOfBirth" required="required"
                       th:value="${professorDetails?.birthDay}"
                />
            </div>

            <div class="row justify-content-start">
                <label class="col-2" for="email">Е-маил</label>
                <input class="col-3" name="email" id="email" required="required"
                       th:value="${professor?.email}">
            </div>

            <div class="row justify-content-start">
                <label class="col-2" for="title">Наслов на научниот степен</label>
                <select name="title" class="col-3" id="title">
                    <option
                            th:each="title : ${professorTitles}"
                            th:value="${title}"
                            th:text="${title}">
                    </option>
                </select>
            </div>
            <div class="row justify-content-start">
                <label class="col-2" for="title">Степен на образование</label>
                <select name="degree" class="col-3" id="degree">
                    <option
                            th:each="degree : ${educationDegrees}"
                            th:value="${degree}"
                            th:text="${degree}"
                            th:selected="${professorDetails!=null ? professorDetails.getDegree().equals(degree):false}">
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary " th:text="#{SUBMIT}"></button>



        </div>

         </form>

</body>
</html>
