<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container" layout:fragment="content">

    <form method="POST" th:action="@{/admin/professor/add-professor}">

        <label for="name" th:text="#{PROFESSOR_NAME}"></label>
        <input class="form-control" id="name" name="name" required="required"
               th:value="${professor?.name}">

        <label for="id" th:text="#{ID}"></label>
        <input class="form-control" id="id" name="id" required="required"
               th:value="${professor?.id}">

        <label for="dateOfBirth" th:text="#{DATE_OF_BIRTH}"></label>
        <input class="form-control" id="dateOfBirth" name="dateOfBirth"
               th:value="${professorDetails?.birthDay}"
               type="date"/>

        <label for="email" th:text="#{PROFESSOR_EMAIL}"></label>
        <input class="form-control" id="email" name="email" required="required"
               th:value="${professor?.email}">

        <label for="email" text="Ordering Rank"></label>
        <input class="form-control" id="orderingRank" name="orderingRank" required="required"
               th:value="${professor?.orderingRank}">

        <label for="title" th:text="#{DEGREE_TITLE}"></label>
        <select class="form-control" id="title" name="title">
            <option

                    th:selected="${title !=null ? professorDetails.getCurrentTitle().equals(title):false}"
                    th:each="title : ${professorTitles}"
                    th:text="${title}"
                    th:value="${title}">
            </option>
        </select>

        <label for="degree" th:text="#{EDUCATION_DEGREE}"></label>
        <select class="form-control" id="degree" name="degree">
            <option
                    th:each="degree : ${educationDegrees}"
                    th:selected="${professorDetails!=null ? professorDetails.getDegree().equals(degree):false}"
                    th:text="${degree}"
                    th:value="${degree}">
            </option>
        </select>


        <button class="btn btn-primary " th:text="#{SUBMIT}" type="submit"></button>
    </form>
</div>
</body>
</html>
