<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="row justify-content-center" >
        <div class="col">
            <a th:href="@{'/professor/add-academic-title'}"
               class="btn btn-sm btn-primary"><i class="fa fa-trash">Add Academic Title </i></a>
        </div>
        <div class="col">
            <a th:href="@{'/professor/add-education'}"
               class="btn btn-sm btn-primary"><i class="fa fa-trash">Add Education </i></a>
        </div>
    </div>
    <div class="row justify-content-center" >
        <div class="col" th:text="Име"></div>
        <div class="col" th:text="Е-маил"></div>
        <div class="col" th:text="Звање"></div>
        <div class="col">
            <a th:href="@{'/professor/add'}"
               class="btn btn-sm btn-primary"><i class="fa fa-trash">Add Professor </i></a>
        </div>
    </div>
    <div class="row justify-content-center" th:each="professor: ${professors}">
        <div class="col" th:text="${professor.getName()}"></div>
        <div class="col" th:text="${professor.getEmail()}"></div>
        <div class="col" th:text="${professor.getTitle()}"></div>
        <div class="col d-flex">
            <form th:action="@{'/professor/delete/{id}' (id=${professor.getId()})}" th:method="DELETE">
                <button type="submit" class="btn btn-sm btn-danger"><i
                        class="fa fa-trash">Delete</i></button>
            </form>

            <a th:href="@{'/professor/edit/{id}' (id=${professor.getId()})}"
               class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
        </div>



    </div>
</div>

</body>
</html>