<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head>
    <meta charset="UTF-8"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script th:inline="javascript">
        function cleanQueryFilters() {
            window.location = "?";
        }
    </script>
    <title></title>

</head>
<body layout:fragment="content">
<div class="view-content my-5" >
    <h3 th:text="#{PROFESSOR_STATS}"></h3>

    <div id="filters">
        <form th:method="GET" th:action="@{'/admin/subject/statistics'}">
            <div class="col-12 mb-4 d-flex justify-content-center align-items-center">
                <div class="row w-100">
                    <div class="col-md-5">
                        <div class="mb-2 w-100">
                            <!--subjectCode-->
                            <label for="subjectCode" hidden="hidden">subjectCode</label>
                            <select class="form-control filter-input w-100" name="subjectCode" id="subjectCode">
                                <option value="">Избери предмет</option>
                                <option th:each="subject : ${subjectsDropdown}"
                                        th:value="${subject.code}"
                                        th:text="${subject.name + ' (' + subject.code + ')'}"
                                        th:selected="${subject.code == subjectCode}"></option>
                            </select>
                        </div>
                        <div class="mb-2 w-100">
                            <!--professorCode-->
                            <label for="professorCode" hidden="hidden">professorCode</label>
                            <select class="form-control filter-input w-100" name="professorCode" id="professorCode">
                                <option value="">Избери професор</option>
                                <option th:each="professor : ${professorsDropdown}"
                                        th:value="${professor.code}"
                                        th:text="${professor.name + ' (' + professor.code + ')'}"
                                        th:selected="${professor.code == professorCode}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end flex-wrap col-md-5">
                        <div class="mb-2 w-100">
                            <!--studyProgramCode-->
                            <label for="studyProgramCode" hidden="hidden">studyProgramCode</label>
                            <select class="form-control filter-input w-100" name="studyProgramCode" id="studyProgramCode">
                                <option value="">Избери студиска програма</option>
                                <option th:each="sp : ${studyProgramsDropdown}"
                                        th:value="${sp.code}"
                                        th:text="${sp.name + ' (' + sp.code + ')'}"
                                        th:selected="${sp.code == studyProgramCode}"></option>
                            </select>
                        </div>
                        <div class="mb-2 w-100">
                            <!--accreditationYear-->
                            <label for="accreditationYear" hidden="hidden">accreditationYear</label>
                            <select class="form-control filter-input w-100" name="accreditationYear" id="accreditationYear" th:value="${accreditationYear}">
                                <option th:each="ay : ${accreditationYearsDropdown}" th:value="${ay.year}" th:text="${ay.year} th:selected="${accreditationYear != null ? accreditationYear == ay.year : ay.year == '2023'}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row mb-2">
                            <button type="submit" class="btn btn-primary filter-input w-100"><i>Пребарувај</i></button>
                        </div>
                        <div class="row">
                            <a href="/admin/subject/statistics" class="btn btn-secondary filter-input w-100"><i>Обнови</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="item-list">
        <table class="table table-striped table-bordered text-center align-middle">
            <thead>
            <tr>
                <th>#</th>
                <th class="text-primary" th:text="#{SUBJECT_NAME}"></th>
                <th class="text-primary" th:text="#{ACCREDITATION}"></th>
                <th class="text-primary" th:text="#{YEARS_ACTIVE}"></th>
                <th class="text-primary" th:text="#{PROFESSOR_NUM}"></th>
                <th class="text-primary" th:text="#{PROFESSORS}"></th>
                <th class="text-primary" th:text="#{STUDY_PROGRAMS_MANDATORY}"></th>
                <th class="text-primary" th:text="#{STUDENTS_NUM_FIRST_TIME}"></th>
                <th class="text-primary" th:text="#{STUDENTS_NUM_RE_ENROLL}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject, rowStat : ${subjects.getContent()}">
                <td th:text="${rowStat.index + 1}"></td>
                <td>
                    <a th:href="@{'/admin/subject/{subjectId}/details'(subjectId=${subject.id})}"
                       th:text="${subject.subjectName}"
                       style="text-decoration: none;"></a>
                </td>
                <td th:text="${subject.accreditationYear != null ? subject.accreditationYear : '/'}"></td>
                <td th:text="${subject.yearsActive != null ? subject.yearsActive : '/'}"></td>
                <td th:text="${subject.numProfessors != null ? subject.numProfessors : '/'}"></td>
                <td>
                    <a th:if="${subject.getProfessors.isEmpty()}">/</a>
                    <ul th:unless="${subject.getProfessors.isEmpty()}" class="list-unstyled">
                        <li th:each="professor : ${subject.getProfessors}">
                            <a th:text="${professor}"
                               th:href="@{'/admin/professor/{professorId}'(professorId=${professor})}"
                               style="text-decoration: none;"></a>
                        </li>
                    </ul>
                </td>
                <td>
                    <a th:if="${subject.getMandatoryStudyPrograms.isEmpty()}">Предметот не е задолжителен</a>
                    <ul th:unless="${subject.getMandatoryStudyPrograms.isEmpty()}" class="list-unstyled">
                        <li th:each="program : ${subject.getMandatoryStudyPrograms}">
                            <a th:text="${program}"></a>
                        </li>
                    </ul>
                </td>
                <td th:text="${subject.firstTimeStudents != null ? subject.firstTimeStudents : '/'}"></td>
                <td th:text="${subject.reEnrolledStudents != null ? subject.reEnrolledStudents : '/'}"></td>
            </tr>
            </tbody>
        </table>
        <div class="d-inline-flex align-items-center justify-content-center w-100">
            <div th:include="fragments/subjects_paging :: pageSection(${subjects})"></div>
        </div>
    </div>

</div>
</body>
</html>