<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<header class="p-3 text-bg-dark" th:fragment="header">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/admin/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/io.png" style="width: 25px"/>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/admin/accreditations" class="nav-link px-2 text-white" th:text="#{ACCREDITATIONS}"></a></li>
            <li><a href="/admin/study-programs" class="nav-link px-2 text-white" th:text="#{STUDY_PROGRAMS}"></a></li>
            <li><a href="/admin/professor" class="nav-link px-2 text-white" th:text="#{PROFESSORS}"></a></li>
            <li><a href="/admin/subject/list" class="nav-link px-2 text-white">Предмети</a></li>
            <li><a href="/admin/professor/professor-stats" class="nav-link px-2 text-white">Статистика за професори</a></li>
            <li><a href="/admin/subject/statistics" class="nav-link px-2 text-white">Статистика за предмети</a>
            <li><a href="/admin/subject/rooms" class="nav-link px-2 text-white">Простории</a>
            <li><a href="/staff" class="nav-link px-2 text-white">Кадар (Ј)</a>
            </li>
            <li><a href="/admin/user" class="nav-link px-2 text-white">Корисници</a></li>
        </ul>

        <div class="text-end">
            <th:block sec:authorize="isAnonymous()">
                <a class="btn btn-outline-light me-2">Најави се</a>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                    <span class="text-white me-2" sec:authentication="name">
                    </span>
            </th:block>
        </div>
    </div>
</header>
</body>
</html>