<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"

>
<meta charset="utf-8"/>
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>

    <script th:inline="javascript">
        function cleanQueryFilters() {
            window.location = "?";
        }

    </script>
</head>
<body class="bg-light">
<div class="view-content my-5" layout:fragment="content">
    <h3 th:text="#{STUDY_PROGRAMS}"></h3>
    <div id="filters">
        <form th:action="@{/admin/study-programs}" method="GET">
            <div class="d-flex flex-wrap justify-content-between">
                <div class="col-md-3 col-sm-6 p-1">
                    <label for="nameSearch" class="mr-2 mb-0" th:text="#{SEARCH_BY_NAME}"></label>
                    <input type="text"
                           id="nameSearch"
                           class="form-control"
                           name="nameSearch"
                           th:placeholder="#{SEARCH}"
                           th:value="${text}"/>
                </div>

                <div class="col-md-3 col-sm-6  p-1">
                    <label for="accreditationFilter" class="mr-2 mb-0" th:text="#{FILTER_BY_ACCREDITATION}"></label>
                    <select id="accreditationFilter"
                            class="form-control custom-select"
                            name="filteredAccreditation">
                        <option value="" th:text="#{SELECT}"></option>
                        <option th:each="acc : ${accreditations}"
                                th:value="${acc.getYear()}"
                                th:text="${acc.getYear()}"
                                th:selected="${accreditation == acc.getYear() || acc.getIsActive()}">
                        </option>
                    </select>
                </div>

                <div class="col-md-3 col-sm-6  p-1">
                    <label for="studyCycleFilter" class="mr-2 mb-0" th:text="#{FILTER_BY_STUDY_CYCLE}"></label>
                    <select id="studyCycleFilter"
                            class="form-control custom-select"
                            name="filteredStudyCycle">
                        <option value="" th:text="#{SELECT}"></option>
                        <option th:each="sc : ${studyCycles}"
                                th:value="${sc}"
                                th:text="${sc}"
                                th:selected="${studyCycle != null && studyCycle != '' && studyCycle == sc.name()}">
                        </option>
                    </select>
                </div>

                <div class="col-md-3 col-sm-6  p-1">
                    <label for="durationYearsFilter" class="mr-2 mb-0" th:text="#{FILTER_BY_DURATION_YEARS}"></label>
                    <select id="durationYearsFilter"
                            class="form-control custom-select"
                            name="filteredDurationInYears">
                        <option value="" th:text="#{SELECT}"></option>
                        <option value="1" th:selected="${durationInYears == '1'}">1</option>
                        <option value="2" th:selected="${durationInYears == '2'}">2</option>
                        <option value="3" th:selected="${durationInYears == '3'}">3</option>
                        <option value="4" th:selected="${durationInYears == '4'}">4</option>
                    </select>
                </div>

                <div class="col-md-3 col-sm-6  p-1">
                    <label for="onEnglishFilter" class="mr-2 mb-0" th:text="#{FILTER_BY_ONENGLISH}"></label>
                    <input type="checkbox"
                           id="onEnglishFilter"
                           class="form-check-input"
                           name="filteredOnEnglish"
                           th:checked="${onEnglish}"/>
                </div>
                <div class="col-md-6 col-sm-6  p-1 text-end">
                    <button
                            type="submit"
                            class="btn btn-primary col-3"
                            th:text="#{APPLY_FILTERS}"></button>
                    <button
                            id="resetFiltersBtn"
                            type="reset"
                            class="btn btn-outline-dark col-3"
                            th:text="#{RESET_FILTERS}"
                            th:onclick="cleanQueryFilters()"
                    ></button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3">
            <a href="/admin/study-programs/add-form" class="btn btn-block btn-success"
               th:text="#{ADD_STUDY_PROGRAM}"></a>

        </div>
    </div>

    <div class="item-list mt-4">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-primary" th:text="'#'"></th>
                <th class="text-primary" th:text="#{CODE}"></th>
                <th class="text-primary" th:text="#{STUDY_PROGRAM_NAME}"></th>
                <th class="text-primary" th:text="Акредитација"></th>
                <th class="text-primary" th:text="Циклус"></th>
                <th class="text-primary" th:text="Јазик"></th>
                <th class="text-primary"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="spDetails, start: ${studyProgramDetailsPage.getContent()}">
                <td th:text="${start.index + studyProgramDetailsPage.getNumber() * studyProgramDetailsPage.getSize() + 1}"></td>
                <td th:text="${spDetails.getStudyProgram().getCode()}"/>
                </td>
                <td th:text="${spDetails.getStudyProgram().getName()}"></td>
                <td th:text="${spDetails.accreditation?.year}"></td>
                <td th:text="#{${spDetails.studyCycle}}"></td>
                <td th:text='${spDetails.bilingual? "Двојазична": spDetails.onEnglish? "Англиски": "Македонски"}'></td>
                <td class="text-right d-flex flex-wrap justify-content-end">
                    <div class="col-3">
                        <a th:href="@{'/admin/study-programs/edit-form/{id}' (id=${spDetails.getId()})}"
                           class="btn btn-sm btn-info m-1">
                            <i class="fa fa-trash" th:text="#{EDIT}"></i>
                        </a>
                    </div>
                    <div class="col-3">
                        <a th:href="@{'/admin/study-programs/delete/{id}' (id=${spDetails.getId()})}"
                           class="btn btn-sm btn-danger m-1">
                            <i class="fa fa-trash" th:text="#{DELETE}"></i>
                        </a>
                    </div>
                    <div class="col-3">
                        <a th:href="@{'/admin/study-programs/{id}/documents' (id=${spDetails.getId()})}"
                           class="btn btn-sm btn-outline-dark m-1">
                            <i class="fa fa-trash" th:text="#{DOCUMENTS}"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:include="fragments/paging :: pageSection(${studyProgramDetailsPage})"></div>
    </div>

</div>
</body>
</html>