<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<h3>Додипломски студии</h3>
<h4>
    Нови студиски програми од
    <span th:text="#{${cycle}}"></span>
    на ФИНКИ од
    <span th:text="${acc}"></span>
</h4>
<div class="view-content">
    <div class="item-list">
        <ul>
            <li class="views-row views-row-1 views-row-odd views-row-first" th:each="sp: ${programs}">
                <div class="views-field views-field-title">
                    <a th:href="@{/program/{program}(program=${sp.getId()})}"
                       th:text="${sp.studyProgram.name}"></a>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>