<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${studyProgram?.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>

<h2 th:text="${studyProgram?.name}"></h2>
<div th:each="sem: ${bySemesterAndMandatory}">
    <h3>Семестар: <span th:text="${sem.getKey()}"></span></h3>
    <div>
        <div>
            <table class="table table-striped table table-bordered table-sm">
                <h4>Задолжителни предмети</h4>

                <tr>
                    <th>
                        Предмет
                    </th>
                    <th>
                        Кредити
                    </th>
                    <th>
                        Предуслови
                    </th>
                </tr>
                <tr th:each="s: ${sem.getValue().get(true)}">
                    <td>
                        <a th:href="@{/subject/{id}(id=${s.subject.id})}" th:text="${s.subject.subject.name}"
                           target="_blank"></a>
                    </td>
                    <td th:text="${s.subject.credits}">
                        6.00
                    </td>
                    <td th:text="${s.subject.dependencies?.getDependencies()}">
                    </td>
                </tr>
            </table>
        </div>
        <div
                th:if="${sem.getValue().get(false)!=null && !sem.getValue().get(false).isEmpty()}">
            <table class="table table-striped table table-bordered table-sm">
                <h4>Изборни предмети</h4>
                <tr>
                    <th>
                        Предмет
                    </th>
                    <th>
                        Кредити
                    </th>
                    <th>
                        Предуслови
                    </th>
                </tr>
                <tr th:each="s: ${sem.getValue().get(false)}">
                    <td>
                        <a th:href="@{/subject/{id}(id=${s.subject.id})}" th:text="${s.subject.subject.name}"
                           target="_blank"></a>
                    </td>
                    <td th:text="${s.subject.credits}">
                        6.00
                    </td>
                    <td th:text="${s.subject.dependencies?.getDependencies()}">

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>