<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<body>

<div class="container justify-content-lg-center">
    <div class="d-flex justify-content-center">
        <div class="row ">
            <h1 class="mb-4">Промена</h1>

            <form th:action="@{/rooms/edit/{name} (name=${room.name})}" method="post">
                <label>Име</label>
                <div class="form-group ">
                    <input type="text" name="name"  th:value="${room.name}">
                </div>

                <label>Локација</label>
                <div class="form-group">
                    <input type="text" name="locationDescription" th:value="${room.locationDescription}" />
                </div>

                <label>Опрема</label>
                <div class="form-group">
                    <input type="text" name="equipmentDescription" th:value="${room.equipmentDescription}" />
                </div>

                <label>Број на слушатели</label>
                <div class="form-group">
                    <input type="number" name="capacity"  th:value="${room.capacity}" />
                </div>

                <label for="type">Тип на соба</label>
                <div class="form-group">
                    <select id="type" name="type" th:value="${room.type}">
                        <option th:each="type : ${types}"
                                th:value="${type}"
                                th:text="${type}"
                                th:selected="${type == room.type}">Type</option>
                    </select>
                </div>

                <button type="submit">Зачувај</button>
            </form>

        </div>
    </div>
</div>

</body>
</html>