<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-lg-center">
        <div class="row">

            <h1>Соби</h1>

            <div class="container">
                <form th:action="@{/rooms}" method="GET">

                    <div class="d-flex flex-wrap justify-content-between">

                        <div class="col-md-2 col-sm-4 p-1">
                            <label class="small">Пребарај по име</label>
                            <input type="nameSearch" id="nameSearch" class="form-control" name="nameSearch">
                        </div>

                        <div class="col-md-2 col-sm-8 p-1">
                            <label class="small">Пребарај по локација</label>
                            <input type="text" id="descriptionSearch" class="form-control" name="descriptionSearch">
                        </div>

                        <div class="col-md-2 col-sm-8 p-1">
                            <label class="small">Учесници</label>
                            <input type="number" id="participantsSearch" class="form-control" name="participantsSearch">
                        </div>

                        <div class="col-md-2 col-sm-8 p-1">
                            <label for="typeSearch">Тип на соба</label>
                            <div class="form-group">
                                <select id="typeSearch" name="typeSearch" class="form-control">
                                    <!-- Default non-selectable option -->
                                    <option value="" selected="selected" disabled="disabled">Одбери тип на соба</option>
                                    <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-8 p-1 mt-auto">
                            <button type="submit" class="btn btn-primary ">Филтрирај</button>
                        </div>

                    </div>
                </form>



            </div>
            <div class="col-md-8 "></div>
            <div class="col-md-3 col-sm-6">
                <form th:action="@{/rooms}" method="GET" class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-dark float-end" style="width: 99px;">Ресетирај</button>
                </form>
            </div>


            <form class="mb-2" method="get" th:action="@{'/rooms/add'}">
                <button type="submit" class="btn btn-success btn-sm">Додај соба</button>
            </form>

            <form class="mb-2 " method="get" th:action="@{'/rooms/download'}">
                <input type="hidden" name="nameSearch" th:value="${nameSearch}">
                <input type="hidden" name="descriptionSearch" th:value="${descriptionSearch}">
                <input type="hidden" name="participantsSearch" th:value="${participantsSearch}">
                <input type="hidden" name="typeSearch" th:value="${typeSearch}">
                <button type="submit" class="btn btn-primary btn-sm" style="text-align:center">Симни податоци</button>
            </form>

            <form class="mb-2 "action="/rooms/import" method="post" enctype="multipart/form-data">
                <div class="form-group mb-2" >
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
                <button type="submit" class="btn btn-outline-dark btn-sm " style="text-align:center">Прикачи</button>
            </form>





            <table class="table table-striped table-bordered">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Име</th>
                    <th>Локација</th>
                    <th>Слушатели</th>
                    <th class="col-1"></th>
                    <th class="col-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room, iterStat : ${rooms.content}">
                    <td class="col-1" th:text="${iterStat.count}"></td>
                    <td class="col-3" th:text="${room.name}"></td>
                    <td th:text="${room.locationDescription}"></td>
                    <td class="col-1" th:text="${room.capacity}"></td>
                    <td class="col-1">
                        <form method="get" th:action="@{'/rooms/edit/{name}' (name=${room.name})}">
                            <button type="submit" class="btn btn-info btn-sm" style="text-align:center">Промени</button>
                        </form>
                    </td>
                    <td class="col-1">
                        <form method="post" th:action="@{'/rooms/delete/{name}' (name=${room.name})}">
                            <button type="submit" class="btn btn-danger btn-sm" style="text-align:center">Избриши</button>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
            <div>

                <form id="perPageForm" th:action="@{/rooms}" method="get">
                    <label>Соби по страна:</label>
                    <input type="number" id="perPageInput" name="results" min="1" th:value="${rooms.size}" onchange="this.form.submit()">
                </form>
            </div>
            <div>

                <ul class="pagination">
                    <li th:each="i : ${#numbers.sequence(1, rooms.totalPages)}">
                        <a class="page-link" th:href="@{/rooms(pageNum=${i}, results=${rooms.size})}" th:text="${i}"></a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>

</body>
</html>