<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="row justify-content-lg-center">
        <div class="row">

            <h1>Соби</h1>

            <div class="container">
                <form th:action="@{/admin/rooms}" method="GET">

                    <div class="d-flex flex-wrap justify-content-between">

                        <div class="col-md-2 col-sm-4 p-1">
                            <label class="small">Пребарај по име</label>
                            <input type="nameSearch" placeholder="Пребарај..." id="nameSearch" class="form-control" name="nameSearch">
                        </div>

                        <div class="col-md-2 col-sm-8 p-1">
                            <label class="small">Пребарај по локација</label>
                            <input type="text" placeholder="Пребарај..." id="locationDescriptionSearch" class="form-control" name="locationDescriptionSearch">
                        </div>

                        <div class="col-md-2 col-sm-8 p-1">
                            <label class="small">Пребарај по опрема</label>
                            <input type="text" placeholder="Пребарај..." id="equipmentDescriptionSearch" class="form-control" name="equipmentDescriptionSearch">
                        </div>

                        <div class="col-md-2 col-sm-8 p-1">
                            <label class="small">Учесници</label>
                            <input type="number" id="participantsSearch" class="form-control" name="participantsSearch">
                        </div>

                        <div class="col-md-2 col-sm-8 p-1">
                            <label for="typeSearch">Тип на соба</label>
                            <div class="form-group">
                                <select id="typeSearch" name="typeSearch" class="form-control">
                                    <!-- Default non-selectable option -->
                                    <option value="" selected="selected" disabled="disabled">Одбери тип на соба</option>
                                    <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-8 p-1 mt-auto">
                            <button type="submit" class="btn btn-primary ">Филтрирај</button>
                        </div>

                    </div>
                </form>



            </div>
            <div class="col-md-8 "></div>
            <div class="col-md-3 col-sm-6">
                <form th:action="@{/admin/rooms}" method="GET" class="d-flex justify-content-end" >
                    <button type="submit" class="btn btn-outline-dark float-end">Ресетирај</button>
                </form>
            </div>


            <div class="row justify-content-start ">
                <div class="col-auto mt-3">
                    <form method="get" th:action="@{'/admin/rooms/add'}">
                        <button type="submit" class="btn btn-success btn-sm">Додај соба</button>
                    </form>
                </div>
                <div class="col-auto mt-3">
                    <form method="get" th:action="@{'/admin/rooms/export'}">
                        <input type="hidden" name="nameSearch" th:value="${nameSearch}">
                        <input type="hidden" name="locationDescriptionSearch" th:value="${locationDescriptionSearch}">
                        <input type="hidden" name="equipmentDescriptionSearch" th:value="${equipmentDescriptionSearch}">
                        <input type="hidden" name="participantsSearch" th:value="${participantsSearch}">
                        <input type="hidden" name="typeSearch" th:value="${typeSearch}">
                        <button type="submit" class="btn btn-secondary btn-sm">Симни податоци</button>
                    </form>
                </div>
            </div>





                <div class="row mb-3 mt-3">
                    <div class="col-6" sec:authorize="hasRole('ROLE_ADMIN')">
                        <div class="card">
                            <div class="card-header">
                                Import rooms
                            </div>
                            <div class="card-body">
                                <form th:action="@{/api/rooms/import}" method="post"
                                      enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group mt-1">
                                                <input class="form-control" type="file" name="file" id="file" required>
                                            </div>
                                        </div>
                                        <div class="col-12 text-end">
                                            <button class="btn  btn-primary mt-2 mb-2" type="submit">Import</button>
                                            <a th:href="@{/admin/rooms/sample-tsv}"
                                               class="btn  btn-secondary mt-2 mb-2">Template</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>







            <table class="table table-striped table-bordered mt-3">
                <thead>
                <tr>
                    <th class="text-primary">#</th>
                    <th class="text-primary">Име</th>
                    <th class="text-primary">Локација</th>
                    <th class="text-primary">Опрема</th>
                    <th class="text-primary">Тип</th>
                    <th class="text-primary">Слушатели</th>
                    <th class="col-1"></th>
                    <th class="col-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room, iterStat : ${rooms.content}">
                    <td class="col-1" th:text="${iterStat.count + rooms.size * rooms.number}"></td>
                    <td class="col-3" th:text="${room.name}"></td>
                    <td th:text="${room.locationDescription}"></td>
                    <td th:text="${room.equipmentDescription}"></td>
                    <td th:text="${room.type}"></td>
                    <td class="col-1" th:text="${room.capacity}"></td>
                    <td class="col-1">
                        <form method="get" th:action="@{'/admin/rooms/edit/{name}' (name=${room.name})}" sec:authorize="hasRole('ROLE_ADMIN')">
                            <button type="submit" class="btn btn-info btn-sm" style="text-align:center">Промени</button>
                        </form>
                    </td>
                    <td class="col-1">

                        <form method="post"  th:action="@{'/admin/rooms/delete/{name}' (name=${room.name})}"
                              sec:authorize="hasRole('ROLE_ADMIN')"
                              onclick="return confirm('Are you sure you want to delete this room?')">
                            <button type="submit" class="btn btn-danger btn-sm" style="text-align:center">Избриши</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <form id="perPageForm" th:action="@{/admin/rooms}" method="get">
                    <label>Резултати по страна:</label>
                    <input type="number" id="perPageInput" name="results" min="1" th:value="${rooms.size}" onchange="this.form.submit()">
                    <!-- Hidden inputs for maintaining filter states -->
                    <input type="hidden" name="nameSearch" th:value="${nameSearch}" />
                    <input type="hidden" name="locationDescriptionSearch" th:value="${locationDescriptionSearch}" />
                    <input type="hidden" name="equipmentDescriptionSearch" th:value="${equipmentDescriptionSearch}" />
                    <input type="hidden" name="participantsSearch" th:value="${participantsSearch}" />
                    <input type="hidden" name="typeSearch" th:value="${typeSearch}" />
                </form>
            </div>
            <div>
                <ul class="pagination mt-4">
                    <li class="page-item" th:class="${rooms.number + 1 == 1} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{/admin/rooms(pageNum=1, results=${rooms.size}, nameSearch=${nameSearch}, locationDescriptionSearch=${locationDescriptionSearch}, equipmentDescriptionSearch=${equipmentDescriptionSearch}, participantsSearch=${participantsSearch}, typeSearch=${typeSearch})}">Прва</a>
                    </li>
                    <li class="page-item" th:class="${rooms.number + 1 == 1} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{/admin/rooms(pageNum=${rooms.number}, results=${rooms.size}, nameSearch=${nameSearch}, locationDescriptionSearch=${locationDescriptionSearch}, equipmentDescriptionSearch=${equipmentDescriptionSearch}, participantsSearch=${participantsSearch}, typeSearch=${typeSearch})}">Претходна</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, rooms.totalPages)}" th:class="${rooms.number + 1 == i} ? 'active' : ''">
                        <a class="page-link" th:href="@{/admin/rooms(pageNum=${i}, results=${rooms.size}, nameSearch=${nameSearch}, locationDescriptionSearch=${locationDescriptionSearch}, equipmentDescriptionSearch=${equipmentDescriptionSearch}, participantsSearch=${participantsSearch}, typeSearch=${typeSearch})}" th:text="${i}"></a>
                    </li>
                    <li class="page-item" th:class="${rooms.number + 1 >= rooms.totalPages} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{/admin/rooms(pageNum=${rooms.number + 2}, results=${rooms.size}, nameSearch=${nameSearch}, locationDescriptionSearch=${locationDescriptionSearch}, equipmentDescriptionSearch=${equipmentDescriptionSearch}, participantsSearch=${participantsSearch}, typeSearch=${typeSearch})}">Наредна</a>
                    </li>
                    <li class="page-item" th:class="${rooms.number + 1 >= rooms.totalPages} ? 'disabled' : ''">
                        <a class="page-link" th:href="@{/admin/rooms(pageNum=${rooms.totalPages}, results=${rooms.size}, nameSearch=${nameSearch}, locationDescriptionSearch=${locationDescriptionSearch}, equipmentDescriptionSearch=${equipmentDescriptionSearch}, participantsSearch=${participantsSearch}, typeSearch=${typeSearch})}">Последна</a>
                    </li>
                </ul>
            </div>




        </div>
    </div>
</div>

</body>
</html>